{{#each students}}

<form class="mt-4" method="POST" action="/students/{{this.id_student}}?_method=PUT">
  
  <div class="form-group">
    <label>Mã sinh viên</label>
    <input type="text" class="form-control" value="{{this.mssv_student}}" name="mssv_student" placeholder="ID Student"readonly>
  </div>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" value="{{this.name_student}}" name="name_student" placeholder="Name">
  </div>
  <div class="form-group">
    <label>Birth Day</label>
    <input type="date" class="form-control" value="{{this.birthday_student}}" name="birthday_student" placeholder="Birth Day">
  </div>
  <div class="form-group">
    <label>Contact</label>
    <input type="date" class="form-control" value="{{this.contact}}" name="contact" placeholder="contact">
  </div>
  <div class="form-group">
    <label>Gender</label>
    <select name="gender_student" id="gender">
    <option value="Nam">Nam</option>
    <option value="Nữ">Nữ</option>
  </select>
  </div>
  <div class="form-group">
    <label>Class</label>
    <input type="text" class="form-control" value="{{this.class_student}}" name="class_student" placeholder="Class">
  </div>
  <div class="form-group">
    <label>Describe</label>
    <textarea type="text" class="form-control" name="describe_student" placeholder="Describe">{{this.describe_student}}</textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Lưu</button>
</form>

{{/each}}