<style>
    .img_student {
        width: 100%;
        height: 500px;
    }
    .stored{
        margin-top: 200px;
    }
</style>

<div class="container stored">
    <div class="table mt-5">
        <div class="row" style="margin-left: -100px;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" colspan="1">Mã sinh viên</th>
                        <th scope="col">Họ tên sinh</th>
                        <th scope="col">Ngày sinh</th>
                        <th scope="col">Số điện thoại</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each students}}
                    <tr>
                        <td>{{this.mssv}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.birthday}}</td>
                        <td>{{this.contact}}</td>

                        

                        <td>

                            <a href="/admin/students/{{this._id}}/edit" class="btn btn-link"><i class="fas fa-edit"></i></a>
                            <a href="" class="btn btn-link" data-toggle="modal" data-id={{this._id}}
                                data-target="#delet-student-modal"><i class="fas fa-trash-alt"></i></a>

                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>





<!-- Modal -->
<div class="modal fade" id="delet-student-modal" tabindex="-1" role="dialog" aria-labelledby="delet-student-modalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delet-student-modalLabel">Xóa sinh viên?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa sinh viên này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-student" type="button" class="btn btn-primary">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>

            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}

{{!-- tao form trong de phuc vu cho viec submit --}}
<form name="delete-student" class="mt-4" method="POST"></form>
{{!-- document.forms['delete-student'] lấy ra thằng form--}}

<script>
    document.addEventListener('DOMContentLoaded', function () {

        var studentID;
        var deleteForm = document.forms['delete-student'];
        var btnDeleteStudent = document.getElementById('btn-delete-student');

        //when dialog confirm clicked
        $('#delet-student-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            studentID = button.data('id');//id này được nạp từ thằng data-id={{this.id_student}}, nó là id

        });

        btnDeleteStudent.onclick = function () {
            deleteForm.action = '/admin/students/' + studentID + '?_method=DELETE';
            deleteForm.submit();//submit form delete
        };
    })
</script>



<script src="/assets/js/jquery-3.3.1.min.js"></script>

<script src="/assets/js/theme-change.js"></script>

<!-- js for portfolio lightbox -->
<!-- libhtbox -->
<script src="/assets/js/lightbox-plus-jquery.min.js"></script>
<!-- libhtbox -->
<script src="/assets/js/owl.carousel.js"></script>
<!-- script for testimonials -->

<!-- //script for testimonials -->
<!-- stats number counter-->
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/jquery.countup.js"></script>

<!-- //stats number counter -->

<!-- disable body scroll which navbar is in active -->

<!--//MENU-JS-->

<script src="/assets/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />