{{#each enterprises}}

<h1>{{this.name_enterprise}}</h1>
    <a href="{{this.id_enterprise}}/instructors" class="btn btn-success">instructors</a>
    <a href="{{this.id_enterprise}}/posts" class="btn btn-success">posts</a>
    <a href="{{this.id_enterprise}}/courses" class="btn btn-success">courses</a>
    <a href="{{this.id_enterprise}}/manages" class="btn btn-success">manages</a>

{{/each}}