{{#each instructors}}


<h1>heheehehehhehe</h1>

<form class="mt-4" method="POST" action="/enterprises/{{this.id_enterprise}}/instructors/{{this.id_instructor}}?_method=PUT">
  <div class="form-group">
    <label>Tilte</label>
    <input type="text" class="form-control" value="{{this.name_instructor}}" name="name_instructor" placeholder="title_post">
  </div>
  <div class="form-group">
    <label>BirthDay</label>
    <input type="day" class="form-control" value="{{this.birthday}}" name="birthday" placeholder="title_post">
  </div>
  
  <div class="form-group">
    <label>Describe</label>
    <input type="text" class="form-control" value="{{this.describe_instructor}}" name="describe_instructor" placeholder="title_post">
  </div>
  <div class="form-group">
    <label>Contact</label>
    <input type="text" class="form-control" value="{{this.contact}}" name="contact" placeholder="title_post">
  </div>
  <button type="submit" class="btn btn-primary">Lưu</button>
</form>

{{/each}}